@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;	400;	500;	600;	700;	800;	900&display=swap");

:root {
    --h1size: 50px;
    --h2size: 40px;
    --h3size: 24px;
    --h4size: 20px;
    --h5size: 18px;
    --h6size: 16px;
    --bodysize: 16px;
    --h1height: 58px;
    --h2height: 48px;
    --h3height: 32px;
    --h4height: 28px;
    --h5height: 26px;
    --h6height: 26px;
    --bodyheight: 26px;
    --pfamily: 'Rubik', sans-serif;
    --red: #ff3838;
    --gray: #777;
    --text: #555;
    --blue: #1494a9;
    --white: #fff;
    --chalk: #f5f5f5;
    --green: #11b76b;
    --purple: #b12fad;
    --orange: #e86121;
    --yellow: #ffab10;
    --border: #e8e8e8;
    --heading: #39404a;
    --primary: #119744;
    --sub-heading: #565765;
    --green-chalk: #ddffd5;
    --green-dark: #072f17;
    --gray-chalk: #ccc;
    --facebook: #3b5998;
    --linkedin: #0e76a8;
    --twitter: #00acee;
    --primary-bshadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1)
}

* {
    margin: 0;
    padding: 0;
    outline: 0
}

img {
    vertical-align: middle
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    text-decoration: none
}

ul,
ol {
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
span,
label {
    margin-bottom: 0
}

html,
body {
    scroll-behavior: smooth
}

body {
    color: var(--text);
    background: var(--chalk);
    font-size: var(--bodysize);
    font-family: var(--pfamily);
    line-height: var(--bodyheight);
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: var(--heading)
}

h1 {
    font-size: var(--h1size);
    line-height: var(--h1height)
}

h2 {
    font-size: var(--h2size);
    line-height: var(--h2height);
    letter-spacing: -0.3px;
    text-transform: capitalize
}

h3 {
    font-size: var(--h3size);
    line-height: var(--h3height)
}

h4 {
    font-size: var(--h4size);
    line-height: var(--h4height)
}

h5 {
    font-size: var(--h5size);
    line-height: var(--h5height)
}

h6 {
    font-size: var(--h6size);
    line-height: var(--h6height)
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
    color: var(--gray);
    text-transform: capitalize
}

input,
button {
    border: 0;
    outline: 0;
    background: 0
}

button:focus {
    outline: 0
}

.facebook:hover {
    color: var(--white);
    background: var(--facebook)
}

.twitter:hover {
    color: var(--white);
    background: var(--twitter)
}

.linkedin:hover {
    color: var(--white);
    background: var(--linkedin)
}

@media(max-width:575px) {
    .col {
        padding: 0 4px
    }
}

.select {
    border: none;
    background: var(--pfamily);
    background-color: var(--pfamily);
}

.header-widget-group {
    display: flex;
    justify-content: center;
}

option {
    color: var(--red)
}

.section {
    margin-bottom: 115px
}

.section-heading {
    text-align: center;
    margin-bottom: 40px
}

.section-btn-50 {
    text-align: center;
    margin-top: 50px
}

.section-btn-25 {
    text-align: center;
    margin-top: 25px
}

@media(max-width:767px) {
    .section {
        margin-bottom: 55px
    }



    .section-heading {
        margin-bottom: 30px
    }

    .section-heading h2 {
        font-size: 28px;
        line-height: 36px
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .section {
        margin-bottom: 75px
    }


}


.btn {
    border: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 14px 32px;
    border-radius: 6px;

}

.btn-outline {
    color: var(--primary);
    background: var(--white)
}

.btn-outline:hover {
    color: var(--white);
    background: var(--primary)
}

.dropdown-arrow {
    position: relative;
    padding-right: 18px !important
}

.dropdown-arrow:hover::before {
    color: var(--primary)
}

.dropdown-arrow::before {
    position: absolute;
    content: "\ea99";
    top: 50%;
    right: 0;
    font-size: 15px;
    line-height: 15px;
    color: var(--text);
    font-family: IcoFont;
    transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.dropdown-megamenu {
    position: static
}

.dropdown-megamenu:hover .megamenu {
    visibility: visible;
    opacity: 1;

}

.offcanvas-megamenu-list {
    margin-left: 150px;

}


.megamenu {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.megamenu .container {
    padding: 30px 30px 0;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--border);
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1)
}

.megamenu-wrap {
    margin-bottom: 30px
}

.megamenu-title {
    padding-bottom: 18px;
    margin-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    border-bottom: 1px solid var(--border)
}

.megamenu-title::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 50px;
    height: 2px;
    background: var(--primary)
}

.megamenu-list {
    border-left: 1px solid var(--border)
}

.megamenu-list li a {
    width: 100%;
    border-radius: 5px;
    padding: 5px 0 5px 25px;
    color: var(--text);
    white-space: nowrap;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.megamenu-list li a:hover {
    color: var(--primary);

}

.megamenu-promo a img {
    width: 100%;
    border-radius: 3px
}


.form-select {
    width: 100%;
    height: 45px;
    font-size: 15px;
    line-height: 43px;
    padding: 0 16px;
    border-radius: 6px;
    letter-spacing: .3px;
    text-transform: capitalize;
    color: var(--gray);
    background: var(--chalk);
    border: 1px solid var(--border);
    cursor: pointer
}

.form-select:focus-within {
    box-shadow: none;
    background: var(--chalk);
    border-color: var(--primary)
}


.form-input-group {
    position: relative
}

.form-input-group:focus-within i {
    color: var(--primary)
}

.form-input-group input {
    padding: 0 20px 2px 45px
}

.form-input-group textarea {
    padding: 12px 20px 12px 45px
}

.form-input-group i {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center
}

.product-add {
    width: 100%;
    font-size: 15px;
    padding: 6px 0;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: var(--heading);
    background: var(--border);
    text-shadow: var(-primary-tshadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-add i {
    font-size: 18px;
    margin-right: 5px
}

.product-action {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none
}

.product-action button i {
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    color: var(--text);
    background: var(--chalk);
    text-shadow: var(--primary-tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-action button i:hover {
    color: var(--white);
    background: var(--primary)
}

.product-action input {
    width: 100%;
    font-size: 15px;
    margin: 0 5px;
    padding: 6px 0;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow)
}

.table-list {
    width: 100%
}


.table-vendor a {
    font-weight: 500;
    color: var(--heading);
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.table-vendor a:hover {
    color: var(--primary)
}



.table-action a i {
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}



.modal-dialog {
    max-width: max-content
}

.modal-content {
    border: 0;
    background: 0;
    border-radius: 0
}

.modal-close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: var(--white);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.modal-close:hover {
    color: var(--white);
    background: var(--primary)
}


.product-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    padding: 15px 18px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--border);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-card:hover {
    border-color: var(--primary);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1)
}

.product-card:hover .product-widget {
    opacity: 1;
    bottom: 15px
}

.product-card:hover .product-add {
    color: var(--white);
    background: var(--primary)
}

.product-media {
    position: relative
}

.product-label {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0
}

.label-text {
    font-size: 14px;
    padding: 5px 8px;
    line-height: 13px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: var(--white);
    text-align: center;
    text-transform: capitalize
}


.product-wish {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: var(--gray-chalk)
}

.product-wish.active {
    color: var(--primary)
}

.product-image img {
    width: 100%
}

.product-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-widget a {
    width: 40px;
    height: 40px;
    font-size: 15px;
    margin: 0 6px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    color: var(--white);
    background: var(--primary);
    text-shadow: var(-primary-tshadow);
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.12)
}

.product-content {
    padding-top: 12px;
    text-align: center;
    border-top: 1px solid var(--border)
}

.product-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px
}

.product-rating i,
.product-rating a {
    font-size: 14px;
    margin: 0 2px;
    color: var(--gray)
}

.product-rating a {
    white-space: nowrap;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-rating a:hover {
    color: var(--primary);
    text-decoration: underline
}

.product-rating .active {
    color: var(--yellow)
}

.product-name {
    margin-bottom: 3px;
    text-transform: capitalize
}

.product-name a {
    color: var(--sub-heading);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-name a:hover {
    color: var(--primary)
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 13px
}

.product-price del {
    color: var(--red);
    margin-right: 8px
}

.product-price span {
    color: var(--primary);
    white-space: nowrap
}

.product-price span small {
    font-weight: 400
}

@media(max-width:575px) {
    .product-card {
        padding: 8px;
        margin-bottom: 8px
    }

    .product-name {
        font-size: 15px;
        line-height: 22px
    }
}

.feature-media {
    position: relative
}

.feature-label {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0
}

.label-text {
    font-size: 14px;
    padding: 5px 8px;
    line-height: 13px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: var(--white);
    text-align: center;
    text-transform: capitalize
}

.label-text.off {
    background: var(--red)
}

.label-text.new {
    background: var(--green)
}

.label-text.sale {
    background: var(--orange)
}

.label-text.feat {
    background: var(--purple)
}

.label-text.rate {
    background: var(--yellow)
}

.label-text.order {
    background: var(--blue)
}

.feature-wish {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: var(--gray-chalk)
}

.feature-wish.active {
    color: var(--primary)
}


.feature-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.feature-widget a {
    width: 40px;
    height: 40px;
    font-size: 15px;
    margin: 0 6px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    color: var(--white);
    background: var(--primary);
    text-shadow: var(-primary-tshadow);
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.12)
}



.feature-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3px
}

.feature-rating i,
.feature-rating a {
    font-size: 14px;
    margin: 0 2px;
    color: var(--gray)
}

.feature-rating a {
    white-space: nowrap;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.feature-rating a:hover {
    color: var(--primary);
    text-decoration: underline
}

.feature-rating .active {
    color: var(--yellow)
}


.feature-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px
}

.feature-price del {
    color: var(--red);
    margin-right: 8px
}

.feature-price span {
    color: var(--primary);
    white-space: nowrap
}

.feature-price span small {
    font-weight: 400
}

.header-top {
    padding: 8px 0;
    background: var(--primary)
}

.header-top-welcome p {
    font-size: 14px;
    color: var(--white);
    letter-spacing: .3px
}

.header-top-select {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center
}

.header-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--green);

}

.select {
    color: var(--white);
}

.header-select:last-child {
    border: 0
}

.header-select i {
    font-size: 16px;
    margin-right: 8px;
    color: var(--white)
}

.header-select .nice-select {
    line-height: 20px
}

.header-select .nice-select::after {
    border-right-color: var(--white);
    border-bottom-color: var(--white)
}

.header-select .nice-select .current {
    color: var(--white)
}

.header-top-list {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-top-list li {
    margin-left: 35px
}

.header-top-list li a {
    font-size: 14px;
    color: var(--white);
    letter-spacing: .3px;
    white-space: nowrap;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.header-top-list li a:hover {
    color: var(--green-chalk)
}

@media(max-width:767px) {

    .header-top-welcome,
    .header-top-list {
        display: none
    }

    .header-top-select {
        width: 270px;
        margin: 0 auto
    }
}

@media(min-width:768px) and (max-width:991px) {
    .header-top-welcome {
        text-align: center;
        margin-bottom: 10px
    }
}

.header-part {
    background: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


.header-part .container-fluid {
    padding: 18px 25px;


}

.header-part.active {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: var(--white);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;

}

.header-part.active .header-widget:hover i {
    background: var(--primary)
}

.header-part.active .header-widget i {
    background: var(--chalk)
}

.header-part.active .header-widget sup {
    border-color: var(--white)
}

.header-part.active .header-form {
    border-color: var(--primary)
}

.header-content-group {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-logo {
    margin-right: 50px
}

.header-logo img {
    width: auto;
    height: 50px
}

.header-widget-group {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.header-widget:hover i {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow)
}

.header-widget img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.header-widget i {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: var(--text);
    background: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.header-widget span {
    font-weight: 400;
    margin-left: 8px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--heading)
}

.header-widget sup {
    position: absolute;
    top: -12px;
    left: 20px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    background: var(--primary);
    border: 2px solid var(--white);
    text-shadow: var(--primary-tshadow)
}

.header-widget .icofont-shopping-cart {
    font-size: 18px
}

.header-form {
    width: 100%;
    margin: 0 50px;
    border-radius: 8px;
    background: var(--chalk);
    border: 2px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.header-form:focus-within {
    border-color: var(--primary)
}

.header-form input {
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding-left: 15px
}

.header-form button i {
    width: 45px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    border-radius: 8px;
    color: var(--text);
    display: inline-block;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.header-form button i:hover {
    color: var(--primary)
}

.header-widget-group.right .header-widget {
    margin-left: 20px
}

.header-widget-group.right .header-widget:first-child {
    margin-left: 0
}

.header-widget-group.left .header-src,
.header-widget-group.left .header-user {
    display: none
}

@media(max-width:991px) {
    .header-part .container-fluid {
        padding: 10px 15px
    }

    .header-content-group {
        flex-direction: column
    }

    .header-logo {
        margin: 0
    }

    .header-logo img {
        height: 45px
    }

    .header-widget-group.left .header-src,
    .header-widget-group.left .header-user {
        display: block
    }

    .header-widget-group.right,
    .header-cate {
        display: none
    }

    .header-widget-group {
        width: 100%;
        justify-content: space-between
    }

    .header-form {
        display: none;
        margin: 10px 0 0
    }

    .header-form.active {
        display: flex
    }

    .search-btn {
        display: block;
        text-align: right
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .header-widget span {
        display: none
    }
}

.navbar-part {
    background: var(--white)
}

.navbar-content {
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.navbar-item {
    margin-right: 30px
}

.navbar-item:last-child {
    margin-right: 0
}

.navbar-link {
    padding: 22px 0;
    font-weight: 500;
    color: var(--text);
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.navbar-link:hover {
    color: var(--primary)
}

.navbar-info-group {
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar-info {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.navbar-info:last-child {
    margin-right: 0
}

.navbar-info i {
    font-size: 30px;
    margin-right: 15px;
    color: var(--primary)
}

.navbar-info p small {
    font-size: 14px;
    line-height: 16px;
    display: block;
    text-align: left;
    text-transform: capitalize
}

.navbar-info p span {
    font-size: 15px;
    font-weight: 500
}

@media(max-width:991px) {
    .navbar-part {
        display: none
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .navbar-part .container-fluid {
        padding: 0 30px
    }

    .navbar-list li {
        margin-right: 18px
    }

    .navbar-link {
        font-size: 15px
    }

    .navbar-info {
        margin-right: 15px
    }

    .navbar-info p span {
        font-size: 14px
    }

    .navbar-info i {
        margin-right: 10px
    }
}

.offcanvas-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.offcanvas-megamenu {
    display: flex;
}

.category-footer {
    text-align: center;
    margin-top: 20px
}

.category-footer p {
    font-size: 14px;
    color: var(--gray)
}

.visual-part {
    display: flex;
    padding: 100px 0;
    background: #f8fffa;

}

.visual-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

@media(max-width:767px) {
    .visual-part {
        padding: 60px 0 30px
    }

    .visual-wrap {
        margin-bottom: 30px
    }
}

@media(min-width:768px) and (max-width:991px) {
    .visual-part {
        padding: 80px 0 50px
    }

    .visual-wrap {
        margin-bottom: 30px
    }
}

.footer-row {
    display: flex;
    justify-content: space-between;

}

.footer-center-left {
    display: flex;
    align-items: center;
}

.footer-center-left-l {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footer-logo {
    margin-bottom: 25px
}

.footer-desc {
    display: flex;

}

.loginColor-Gray {
    color: #a8a8a8;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.loginColor-Gray:hover {
    color: #f18e00;
}

.loginColor-Orange {
    color: #ef8e01;
}

.fotter-Line2 {
    border-left: 1px solid #d7d7d7;
    height: 150px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.footer-center-right {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.footer-center-right-p {

    margin: 0 30px 0 30px;
}

.footer-bottom {
    padding-top: 15px;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #a8a8a8;
    font-size: 12px;
}

.fotter-Line3 {
    border-left: 1px solid #d7d7d7;
    height: 10px;
    color: #a8a8a8;
}

@media(max-width:768px) {
    .footer-part .container-fluid {
        padding: 0 25px
    }
}

@media(max-width:1199px) {
    .footer-part {
        padding-top: 50px
    }

    .footer-bottom {
        margin-top: 10px
    }

    .footer-center-right {
        flex-direction: column;
        justify-content: center;
    }

    .fotter-Line2 {
        height: 600px;
    }
}

@media(max-width:767px) {
    .footer-bottom {
        padding: 25px 15px 75px;
        flex-direction: column;
        text-align: center
    }

    .footer-copytext {
        margin-bottom: 10px
    }

    .footer-card a {
        margin: 0 3px
    }
}

@media(min-width:768px) and (max-width:991px) {
    .footer-bottom {
        padding: 25px 30px 75px
    }
}